@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-chubby/css/uicons-solid-chubby.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", "Ubuntu", sans-serif;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3f62a6;
    border-radius: 8px;
  }
}

main {
  display: flex;
  height: 100vh;
  background-color: #f4f6f9;
}

.menu-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
}

sidebar {
  width: 240px;
  background-color: #f4f6f9;
  color: black;
  padding-top: 20px;
  position: fixed;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

sidebar ul {
  list-style-type: none;
  padding: 0;
}

sidebar ul li {
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

sidebar ul li:hover {
  background-color: #3f62a6;
  color: white;
}

sidebar ul li i {
  margin-left: 10px;
  margin-top: 10px;
}

.main-content {
  margin-left: 240px;
  width: calc(100% - 240px);
  padding: 20px;
  position: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-left h1 {
  font-size: 1.5rem;
}

.header-left .menu-icon {
  font-size: 2rem;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

.header-right .mode-dark:hover,
.notifications:hover,
.logout:hover {
  transform: scale(1.2);
}

.header-right .user-name {
  font-size: 1.1rem;
  color: #666;
}

/* SECTION */
section {
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f3f8fd;
    width: calc(100% - 280px);
    position: fixed;
    margin-left: 260px;
    height: 90vh;
    margin-top: 90px;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
  }

  .dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 30px;
}

.card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.card h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.card span {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
}

canvas {
  width: 100%;
  max-width: 800px;
  height: 200px;
  margin: auto;
  display: block;
}

.dashboard-values {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.dashboard-values span {
  color: #ff0037d2;

}

.dashboard-graphics {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}