@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-chubby/css/uicons-solid-chubby.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-straight/css/uicons-thin-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", "Ubuntu", sans-serif;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3f62a6;
    border-radius: 8px;
  }
}

main {
  display: flex;
  height: 100vh;
  background-color: #f4f6f9;
}

.menu-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
}

sidebar {
  width: 240px;
  background-color: #f4f6f9;
  color: black;
  padding-top: 20px;
  position: fixed;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

sidebar ul {
  list-style-type: none;
  padding: 0;
}

sidebar ul li {
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

sidebar ul li:hover {
  background-color: #3f62a6;
  color: white;
}

sidebar ul li i {
  margin-left: 10px;
  margin-top: 10px;
}

.main-content {
  margin-left: 240px;
  width: calc(100% - 240px);
  padding: 20px;
  position: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-left h1 {
  font-size: 1.5rem;
}

.header-left .menu-icon {
  font-size: 2rem;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

.header-right .logout {
  color: #FF0000;
}

.header-right .mode-dark:hover,
.notifications:hover,
.logout:hover {
  transform: scale(1.2);
}

.header-right .user-name {
  font-size: 1.1rem;
  color: #666;
}

/* SECTION */
section {
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f3f8fd;
  width: calc(100% - 280px);
  position: fixed;
  margin-left: 260px;
  height: 90vh;
  margin-top: 90px;
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto;
}

#novaDoacaoBtn,
.submit-doacao {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #3f62a6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#novaDoacaoBtn:hover {
  background-color: #43589d;
}
.submit-doacao:hover {
  background-color: #43589d;
}

#filtroDoador {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 1px 2px #3f62a6;
  margin-left: 40px;
  font-size: large;
  font: smaller;
  padding: 10px;
}
#filtroDoador:focus {
  border: 1px solid;
  border-color: #3f62a6;
}

#filtroData {
  height: 40px;
  border: none;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 1px 2px #3f62a6;
  cursor: pointer;
}
#filtroData:focus {
  border: 1px solid;
  border-color: #3f62a6;
}

#baixarRelatorioBtn {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #3f62a6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#baixarRelatorioBtn:hover {
  background-color: #43589d;
}

section h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #3f62a6;
}

table {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  border-collapse: collapse;
  text-align: center;
}

table tr {
  background-color: #f9f9f9;
  height: 60px;
  border-radius: 8px;
  box-shadow: 0 1px 2px #3f62a6;
  padding: 10px;
  margin: 10px 0;
}

table th {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

table td {
  max-height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Botões Acão */
.acoes {
  width: 15%;
}

.edit-btn {
  border: 1px solid #4caf50;
  background-color: #fff;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  color: #000;
  font-size: 15px;
  cursor: pointer;
}
.edit-btn:hover {
  background-color: #30ad34;
  color: #fff;
}

.delete-btn {
  border: 1px solid #f52314;
  background-color: #fff;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  color: #000;
  font-size: 15px;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: #f52314;
  color: #fff;
}

.download-btn {
  border: 1px solid #646464;
  background-color: #fff;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  color: #000;
  font-size: 15px;
  cursor: pointer;
}
.download-btn:hover {
  background-color: #646464;
  color: #fff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  font-size: 16px;
  width: 100%;
  align-content: center;
}

#tipo_doacao,
#id_projeto,
#observacao {
  background-color: #f3f8fd;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  outline: none;
  box-shadow: 0 1px 2px #3f62a6;
  cursor: pointer;
}

#modalForm input {
  background-color: #f3f8fd;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  outline: none;
  box-shadow: 0 1px 2px #3f62a6;
  cursor: pointer;
}
#modalForm input[file] {
  background-color: #000;
  color: #000;
  cursor: pointer;
}
