@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css");
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-chubby/css/uicons-solid-chubby.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-straight/css/uicons-thin-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", "Ubuntu", sans-serif;

  ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #3f62a6;
    border-radius: 8px;
}
}

main {
  display: flex;
  height: 100vh;
  background-color: #f4f6f9;
}

.menu-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
}

sidebar {
  width: 240px;
  background-color: #f4f6f9;
  color: black;
  padding-top: 20px;
  position: fixed;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

sidebar ul {
  list-style-type: none;
  padding: 0;
}

sidebar ul li {
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

sidebar ul li:hover {
  background-color: #3f62a6;
  color: white;
}

sidebar ul li i {
  margin-left: 10px;
  margin-top: 10px;
}

.main-content {
  margin-left: 240px;
  width: calc(100% - 240px);
  padding: 20px;
  position: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-left h1 {
  font-size: 1.5rem;
}

.header-left .menu-icon {
  font-size: 2rem;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

.header-right .mode-dark:hover,
.notifications:hover,
.logout:hover {
  transform: scale(1.2);
}

.header-right .user-name {
  font-size: 1.1rem;
  color: #666;
}

/* SECTION */
section {
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f3f8fd;
    width: calc(100% - 280px);
    position: fixed;
    height: 90vh;
    margin-top: 15px;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
  
}
  
section h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #3f62a6;
}
  
.filter-voluntario {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 1px 2px #3f62a6;
    margin-left: 40px;
    font-size: large;
    font: smaller;
    padding: 10px;
}
.filter-voluntario:focus {
    border: 1px solid;
    border-color: #3f62a6;

}

#ProjetoBtn {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #3f62a6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#ProjetoBtn:hover {
    background-color: #43589d;
}

.projeto-card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    float: left;
    width: 25%;
}

.projeto-card div {
    width: 100%;
    background-color: #f9f9f9;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #3f62a6;
}

.name-projeto {
    color: #43589d;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.edit-btn {
    border: 1px solid #4caf50;
    background-color: #fff;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 37%;
}
.edit-btn:hover {
    background-color: #30ad34;
    color: #fff;
}

.delete-btn {
    border: 1px solid #f52314;
    background-color: #fff;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}
.delete-btn:hover {
    background-color: #f52314;
    color: #fff;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 60px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form input, textarea, select {
  background-color: #f3f8fd;
  border: none;
  box-shadow: 0 1px 2px #3f62a6;
  cursor: pointer;
  width: 100%;
  height: 45px;
  display: flex;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

form button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #3f62a6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}
form button:hover {
  background-color: #43589d;
}